html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:slategrey;
  color: snow;
  transform-style: preserve-3d;
  perspective: 700px;
}

div {
  min-width: 5rem;
  min-height: 5rem;
  margin: 2rem;
  padding: 0.5rem;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#a {
  background-color: #001325;
  color: #eee;
  transform: rotateY(var(--angle));
}

#b {
  background-color: #2570b7;
  color: #fff;
  transform: translateZ(50px);
}

#c {
  background-color:#d2e9ff;
  color: #001325;
  transform: translateZ(50px);
}
